<h2>nouvelle recette</h2>


  <!-- Catégories, choix des ingrédients, affichage des ingrédients -->
<%= simple_form_for(@recipe) do |f| %>
  <div class="form-group">
     <label class="control-label radio_buttons optional">Catégories</label>
       <% Category.all.each do |category| %>
         <input type="radio" value="<%= category.id %>" name="recipe[category_id]" id="recipe_category_id_<%= category.id %>">
         <label for="recipe_category_id_<%= category.id %>">
           <%= category.name %>
       <% end %>
    </label>
  </div>
  <%= f.label :title, "Titre" %>
  <%= f.text_field :title, class: "form-control" %>


  <!-- ajout des ingrédients -->

  <div class="new-measure-form">
    <%= f.simple_fields_for :measures do |m| %>
        <%= m.input :ingredient_id, label: "Ingrédient", placeholder: "Recherchez un ingrédient", collection: Ingredient.all, input_html: { class: 'ingredient_id' }  %>
        <%= m.input :quantity, label:"Quantité", placeholder: "50", input_html: { class: 'ingredient_quantity' } %>
        <%= m.input :unit_id, label: "Unité", placeholder: "g", collection: Unit.all, input_html: { class: 'ingredient_unit' } %>
    <% end %>
    <div id="add-ingredient-btn", class=btn>
      <!-- ajouter une fonction de rester sur la page tant que pas cliqué sur valider - voir avec le satut? -->
      <%= "ajouter" %>
    </div>
  </div>

  <!-- afficher les ingrédients -->

   <ul id="recipe-ingredients-list"></ul>

  <%= f.submit label = "valider" %>
<% end %>
