<h2>nouvelle recette</h2>


  <!-- lister les catégories à sélectionner -->


  <!-- titre, description, utilisation -->
<%= simple_form_for(@recipe) do |f| %>
  <div class="form-group">
     <label class="control-label radio_buttons optional">Catégories</label>
       <% Category.all.each do |category| %>
         <input type="radio" value="<%= category.id %>" name="recipe[category_id]" id="recipe_category_id_<%= category.id %>">
         <label for="recipe_category_id_<%= category.id %>">
           <%= category.name %>
       <% end %>
    </label>
  </div>
  <%= f.label :title, "Titre" %>
  <%= f.text_field :title, class: "form-control" %>

  <!-- ajout des ingrédients -->
  <!-- a faire : ajouter le bouton d'ajout d'ingrédient -->
  <div class="new-measure-form">
    <%= f.simple_fields_for :measures do |m| %>
        <%= m.input :ingredient_id, label: "Ingrédient", placeholder: "Recherchez un ingrédient", collection: Ingredient.all %>
        <%= m.input :quantity, label:"Quantité", placeholder: "50" %>
        <%= m.input :unit_id, label: "Unité", placeholder: "g", collection: Unit.all %>
    <% end %>
  </div>

  <!-- afficher les ingrédients -->


  <%= f.submit %>
<% end %>
