<h2>nouvelle recette</h2>

<%= simple_form_for(@recipe) do |f| %>
  <!-- lister les catégories à sélectionner -->
  <% Category.all.each do |category| %>
    <%= category.name %>
  <% end %>

  <!-- titre, description, utilisation -->
  <%= f.label :title, "Titre" %>
  <%= f.text_field :title, class: "form-control" %>
  <%= f.label :description, "Description" %>
  <%= f.text_area :description, class: "form-control" %>
  <%= f.label :usage, "Utilisation" %>
  <%= f.text_area :usage, class: "form-control" %>

  <!-- ingrédient, quantité, unité, facultatif -->
  <%= f.simple_fields_for :measures do |m| %>
    <%= m.input :ingredient_id, label: "Ingrédient", placeholder: "Recherchez un ingrédient", collection: Ingredient.all %>
    <%= m.input :quantity, label:"Quantité", placeholder: "50" %>
    <%= m.input :unit, label:"Unité", placeholder: "mg", collection: Unit.all %>
    <%= m.input :optionnal, id: "check", label: "Facultatif" %>
    <%= f.submit %>
  <% end %>



  <!-- reste à faire : difficulty, time -->

  <%= f.submit %>
<% end %>
