<h2>nouvelle recette</h2>


  <!-- lister les catégories à sélectionner -->


  <!-- titre, description, utilisation -->
<%= simple_form_for(@recipe) do |f| %>
  <div class="form-group">
     <label class="control-label radio_buttons optional">Catégories</label>
       <% Category.all.each do |category| %>
         <input type="radio" value="<%= category.id %>" name="recipe[category_id]" id="recipe_category_id_<%= category.id %>">
         <label for="recipe_category_id_<%= category.id %>">
           <%= category.name %>
       <% end %>
    </label>
  </div>
  <%= f.label :title, "Titre" %>
  <%= f.text_field :title, class: "form-control" %>
  <%= f.label :description, "Description" %>
  <%= f.text_area :description, class: "form-control" %>
  <%= f.label :usage, "Utilisation" %>
  <%= f.text_area :usage, class: "form-control" %>

  <!-- reste à faire : difficulty, time, js pour choix des catégories, ajout d'ingrédient, visualisation des ingrédients, photo, prévisualisation -->

  <%= f.submit %>
<% end %>
