<!-- navbar - version 1 -->

<div class="text-center">
  <div class="card-footer">
    <ul class="nav nav-pills card-footer-pills">
      <li class="nav-item">
        <%= link_to recipes_path do %>
          <i class="fas fa-bars nav-link <%=  "nav-link-active" if current_page?(recipes_path) %>"><br><p>Mes recettes</p></i>
        <% end %>
      </li>

      <li class="nav-item">
        <%= link_to root_path do %>
          <i class="fas fa-search nav-link <%=  "nav-link-active" if current_page?(root_path) %>"><br><p>Accueil</p></i>
        <% end %>
      </li>

       <li class="nav-item">
        <%= link_to new_recipe_path do %>
          <i class="fas fa-plus-circle nav-link <%=  "nav-link-active" if current_page?(new_recipe_path) %>"><br><p>Ajouter une<br>recette</p></i>
        <% end %>
      </li>
    </ul>
  </div>
</div>

